.backgroundMyPage {
  background-image: 
  linear-gradient(#4D4D4DA6, #4D4D4DA6),
  url('../../assets/image_05.jpg'); 
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  
  
  
}

.likeImage {
  max-width: 500px;
  width: 100%;
}


.MyLogo{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 50px;
  margin-left: 8px;
}






.h1MyPage{
  
     font-family: "Zen Loop", cursive;
  
  font-style: normal;
  font-size: 96px;
  padding: 8rem;


   
  
}





 

