.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.hero {
  width: 100%;
  background-image:
  linear-gradient(#4D4D4DA6, #4D4D4DA6),
  var(--bg-image);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 2;
}


.heroTitle {
  
  
  padding: 8rem;
  color: #FFF;

  
  text-align: center;
  margin: 0;
  
  pointer-events: none; 
  
 
}



.content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.description {
  max-width: 600px;
  color: #FFF;
  text-align: center;
  padding: 0 1rem;
}

.logo {
  height: 50px;
  margin-left:8px;
}


@media (max-width: 728px) {
  .heroTitle {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}
@media (max-width: 340px) {
  .heroTitle {
    font-size: 0.7rem;   
    
         
  }

  .description {
    font-size: 0.85rem;    
    
  }

  .content {
    margin-top: 1rem;       
  }
}
