.Footer {

    background-color: #2A4F57;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  color:#fff;

}
.Footer  a { 
  font-size: 40px;
  color: #fff;
margin:4px;

}

.Footer img {
  height: 35px;
}

.FooterLogo{
  display: flex;
  text-align: center;
  gap:8px;
}