
.stay{
  font-family: 'Nanum Gothic';
  font-weight: 400;
  text-align: center;
  
  background-color: #33626C;
  color: #FFF;
  padding: 25px;
  

 
  
}

.stay img{
  max-width: 182px;
  width:100%;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}


.h1Stay{
   font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  margin-bottom: 14px;


}


.stays{
background-color: #829B97;
  
  border-radius: 10px 0 10px 0; 
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
  
  

}

