.backgroundStays {

  background-image:
  linear-gradient(#4D4D4DA6, #4D4D4DA6),
   url('../../assets/image_01.jpg'); 
   background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: white;
}

.h1Stays{

       font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding: 10rem;
}



.headerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  height: 50px; 
  margin-left: 8px;
}

.trip h3{
  
  font-size: 64px;
  font-family: 'zen Loop';
}

.trip{
  padding: 30px;
    font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  text-align: center;
  
  background-color: #33626C;
  color: #FFF;
  margin-bottom: 4rem;
  
}
@media screen and (max-width:580px){
  .h1Stays{

    display: grid;
    place-content: center;
  }

}