.tripGrid {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 2rem;
  width: 100%;
}
ul{
  list-style: none;
}

.tripBox {
  text-align: center;
  width: 100%;
  max-width: 600px; 
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto; 
}

.tripImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto; 
}

.imageTopBox {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50% ) translateY(-70% );
  background: #C5B496; 
  color: white;

  
  
   padding-left: 35px;
  padding-right: 35px;
  
  
  text-align: center;
  padding: 12px;
 border-top-left-radius: 25px;
 border-bottom-right-radius: 25px;
}

.readMoreButton {
  display: inline-block;

  

  
  
  background-color: #829B97;
  color: white;

padding-top:15px;
padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  transform: translatey(-20% );
   border-top-left-radius: 25px;
 border-bottom-right-radius: 25px;


  cursor: pointer;
  
  
}