.backgroundContact {

  background-image: 
  linear-gradient(#4D4D4DA6, #4D4D4DA6),
  url('../../assets/image_03.jpg'); 
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: white;
}

div{
  text-align: center;
}

.h1Contact{
  padding: 10rem;
       font-family: "Zen Loop";
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}



.headerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  height: 50px; 
  margin-left: 8px;
}


@media screen and (max-width:520px){

  .h1Contact{
    display: grid;
    place-content: center;
  }
} 