.backgroundContact {

  background-image: url('../../assets/image_03.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}

div{
  text-align: center;
}

.h1Contact{
  padding: 10rem;
}


.headerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  height: 50px; 
  margin-left: 8px;
}


@media screen and (max-width:520px){

  .h1Contact{
    display: grid;
    place-content: center;
  }
} 